<div (click)="test()">登录</div>
<!--<div style="position: relative">-->
  <!--<hot-table-->
    <!--[hotId]="'haha'"-->
    <!--[settings]="setting"></hot-table>-->
<!--</div>-->
<!--<div-->
  <!--class="menu-list"-->
  <!--infiniteScroll-->
  <!--[infiniteScrollDistance]="0.8"-->
  <!--[scrollWindow]="false"-->
  <!--(scrolled)="onScrollDown()"-->
  <!--(scrolledUp)="onScrollUp()"-->
<!--&gt;-->
  <!--<div [ngStyle]="{height: scrollHeight + 'px'}"></div>-->
<!--</div>-->
<!--<button nz-button (click)="touch()">触发</button>-->
<!--<a appFileDownload [type]="'image'" download="aha.png" [value]="image">下载</a>-->
<a [routerLink]="['/canvas']">canvas</a>
