<div (click)="test()">登录</div>
<!--<div style="position: relative">-->
  <!--<hot-table-->
    <!--[hotId]="'haha'"-->
    <!--[settings]="setting"></hot-table>-->
<!--</div>-->
<!--<div-->
  <!--class="menu-list"-->
  <!--infiniteScroll-->
  <!--[infiniteScrollDistance]="0.8"-->
  <!--[scrollWindow]="false"-->
  <!--(scrolled)="onScrollDown()"-->
  <!--(scrolledUp)="onScrollUp()"-->
<!--&gt;-->
  <!--<div [ngStyle]="{height: scrollHeight + 'px'}"></div>-->
<!--</div>-->
<a (click)="touch()">触发</a>
<!--<a appFileDownload [type]="'image'" download="aha.png" [value]="image">下载</a>-->
<a [routerLink]="['/canvas']">canvas</a>
<!--<input type="file" multiple="multiple" (change)="fileChange($event)">-->

<!--瀑布示例-->
<!--<div class="cross-water" #cross>-->
<!--  <app-cross-waterfall [list]="list" [child]="cell" [ClientWidth]="cross.offsetWidth"></app-cross-waterfall>-->
<!--</div>-->
